.line {
    fill: none;
    stroke: slategray;
    stroke-width: 0.5;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#chart {
    width: 800px; /* Match the width of the SVG */
    height: 400px; /* Match the height of the SVG */
}